$serif: Georgia, "PT Serif", serif;

.lora {
  font-family: "Lora";
}

.montserrat {
  font-family: "Montserrat";
}

.sanchez {
  font-family: "Sanchez";
}

.poly {
  font-family: "Poly";
}

.pt-serif {
  font-family: "PT Serif";
}

.roboto {
  font-family: "Roboto";
}

.georgia {
  font-family: Georgia;
}