.text-input {
  border: none;
  font-size: 1.25em;
  padding: 1em;
  width: 100%;
}

.word-display {
  font-size: 8em;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  text-align: center;
  width: 100%;
}