.spreedy-player-settings {
  text-align: center;
}

.spreedy-player,
.spreedy-settings {
  display: inline-block;
}

.setting-item,
.player-item {
  display: inline-block;
  font-size: 1.5em;
}

.spreedy-settings {
  float: right;
}