$app-controls-height: 6rem;
$app-details-height: 2.5rem;
$progress-bar-height: .5rem;

.progress-bar-container {
  background-color: #ddd;
  height: $progress-bar-height;
  width: 100%;
  transition: width .1s;
}

.progress-bar {
  background-color: #bdbdbd;
  display: block;
  height: 100%;
  width: 0;
  transition: width .1s;
}

.app-controls {
    background: linear-gradient(to bottom, #202020 0%,#111 100%);
    color: #fff;
    height: $app-controls-height;
}

.app-details {
  background: linear-gradient(to bottom, #181818 0%,#111 100%);
  border-top: 1px solid #303030;
  color: #6d6d6d;
  height: $app-details-height;
  font-family: Arial;
  font-size: 1.3rem;
  line-height: $app-details-height;
  padding: 0 1rem;
  text-align: right;
}

.controls-left,
.controls-right {
  @include clear;
  width: 50%;
}

.controls-left {
  float: left;
}

.controls-right {
  float: right;
}

.app-controls-item {
  border-left: 1px solid #252525;
  border-right: 1px solid #0f0f0f;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: $app-controls-height;
  line-height: $app-controls-height;
  position: relative;
  text-align: center;

  &:hover,
  &:active,
  &.is-active {
    background: #1a1919;
  }

  @media screen and (min-width: $break-small) {
    padding: 0 4rem;
    width: auto;
  }
}

.app-controls-item-left {
  float: left;
}

.app-controls-item-right {
  float: right;
}

@media screen and (min-width: $break-small) {
  .app-controls-item-left-edge:after,
  .app-controls-item-right-edge:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .app-controls-item-left-edge:after {
    border-right: 1px solid #252525;
    right: -2px;
  }
  .app-controls-item-right-edge:after {
    border-left: 1px solid #0f0f0f;
    left: -2px;
  }
}

.app-controls-item:before {
  font-size: 1.75rem;
}

.app-controls-menu {
  background-color: #1a1919;
  cursor: default;
  font-family: $serif;
  font-size: 1.4rem;
  width: 22rem;
  position: absolute;
  bottom: $app-controls-height;
  right: -1px; // Adjusts for the button border
  padding: 1rem;
  text-align: left;
}

.app-controls-menu-item {
  border-top: 1px solid #292929;
  line-height: 2;
  margin-top: 1rem;
  padding-top: 1rem;

  &:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}

.app-controls-menu-input {
  float: right;
  font-family: Arial;
  font-size: 1.5;
  line-height: 1.4;
  margin-left: .5rem;
  max-width: 5.5rem;
}

// Font Options
.font-option {
  font-size: 1.8rem;
  line-height: 1;
  padding: 1rem;

  &:hover,
  &:active {
    background-color: #272727;
    cursor: pointer;
  }
}

.font-option.is-active {
  background-color: #303030;
}

@media screen and (min-width: $break-medium) {

  .app-controls,
  .app-controls-item {
    height: $app-controls-height * 1.25;
  }

  .app-controls-item {
    line-height: $app-controls-height * 1.25;
  }

  .app-controls-item:before {
    font-size: 1.75rem * 1.25;
  }

  .app-controls-menu {
    bottom: $app-controls-height * 1.25;
  }

  .app-details {
    height: $app-details-height * 1.25;
    line-height: $app-details-height * 1.25;
  }

  .progress-bar-container {
    height: $progress-bar-height * 1.25;
  }
}